html {
  font-size: 100%;
  height: 100%;
}

body {
  display: flex;
  min-width: 400px;
}

.my-gallery {
  width: 100%;
  float: left;
}

.my-gallery img {
  width: 100%;
  height: auto;
}

.my-gallery figure {
  display: flex;
  float: left;
  margin: 0 5px 5px 0;
  height: 350px;
  width: 350px;
}

.my-gallery figcaption {
  display: none;
}

/* Google Fonts */

.display-font {
  font-family: 'Permanent Marker', cursive;
}

.body-font {
  font-family: 'Raleway', sans-serif;
}

/* Media Queries*/

/* XS to SM size */

@media (min-width: 0px) and (max-width: 576px) {
  /* Place Holder */
}

/* SM to LG */

@media (min-width: 576px) and (max-width: 992px) {
  /* Place Holder */
}
